version: '3.8'
services:

# ----------------------------
# Local Coturn Server

    coturn:
      hostname: coturn
      image: coturn/coturn
      ports:
        - "3478:3478/udp"
        - "3478:3478/tcp"
      environment:
        TURN_USER: "user" 
        TURN_PASS: "password" 
        TURN_REALM: "realm.local" 
        TURN_MIN_PORT: "49160" 
        TURN_MAX_PORT: "49200" 
        TURN_PORT: "3478"
      command: >
        --verbose 
        --listening-ip="0.0.0.0"
        --listening-ip="::"
        --listening-port="$${TURN_PORT}"
        --lt-cred-mech 
        --user $${TURN_USER}:$${TURN_PASS} 
        --realm $${TURN_REALM} 
        --min-port $${TURN_MIN_PORT} 
        --max-port $${TURN_MAX_PORT}

# ----------------------------
# Stream Server (ubuntu 24.04)

    ubuntu-noble:
      hostname: ubuntu-noble 
        #entrypoint: ["tail", "-f", "/dev/null"]
      build:
        context: '../metal/monolithic/application'
        dockerfile: './Dockerfile.debbased'
        args:
          # Base
          DISTRIBUTION: "ubuntu"
          SUITE: "24.04"

          # VirtualGL 
          INSTALL_VIRTUALGL: "true"
          VIRTUALGL_VERSION: "latest"

          # Steam
          INSTALL_STEAM: "true"

          # Lutris 
          INSTALL_LUTRIS: "true"
          LUTRIS_VERSION: "latest"

          # Wine 
          INSTALL_WINE: "true"
          WINE_VERSION: "9.15~*-1"

          # Heroic Launcher
          INSTALL_HEROIC: "true"
          HEROIC_VERSION: "latest"

          # Pipewire
          INSTALL_PIPEWIRE: "true"
          PIPEWIRE_VERSION: "latest"
      ports:
        - 8080:8080
        - 8090:9090
        - 8091:9091
        - 8092:9092
        - 8081:80
        # Expose turn server
        #- 3478:3478/udp
        #- 3478:33478/tcp
      environment:

        #STREAMER_HOST: "192.168.1.254" 

        # Remote: Turn 
        SELKIES_TURN_HOST: "bigboy" 
        SELKIES_TURN_PORT: "3478"
        SELKIES_TURN_USERNAME: "user"
        SELKIES_TURN_PASSWORD: "password"

        NGINX_PROXY_HELPER: "true"
        
        # Encoder 
        #SELKIES_ENCODER: "nvh264enc"
         
        #PRIME_RENDERER_GLOBAL: "true" 

      deploy:
          resources:
            reservations:
              devices:
                - driver: nvidia
                  count: 1
                  capabilities: [gpu]

# To Make Steam working we need to break isolation
      tmpfs:
        - /dev/shm:rw
      shm_size: 64 
      ipc: host # Could also be set to 'shareable'
      ulimits:
        nofile:
          soft: 1024
          hard: 524288
      cap_add:
        - NET_ADMIN
        - SYS_ADMIN
        - SYS_NICE
        - IPC_LOCK
      security_opt:
        - seccomp:unconfined
        - apparmor:unconfined     

# ----------------------------
# Stream Server (debian trixie)

#    debian-trixie:
#      hostname: debian-trixie 
#      command: ["tail", "-f", "/dev/null"]
#      build:
#        context: '../metal/monolithic/application'
#        dockerfile: './Dockerfile.debbased'
#        args:
#          # Base
#          DISTRIBUTION: "debian"
#          SUITE: "trixie"
#
#          # User
#          USER_NAME: "debian"
#
#          # VirtualGL 
#          INSTALL_VIRTUALGL: "true"
#          VIRTUALGL_VERSION: "latest"
#
#          # Steam
#          INSTALL_STEAM: "true"
#
#          ## Lutris 
#          INSTALL_LUTRIS: "true"
#          LUTRIS_VERSION: "latest"
#
#          ## Wine 
#          INSTALL_WINE: "true"
#          WINE_VERSION: "9.15~*-1"
#
#          ## Heroic Launcher
#          INSTALL_HEROIC: "true"
#          HEROIC_VERSION: "latest"
#
#          # Pipewire
#          INSTALL_PIPEWIRE: "true"
#          PIPEWIRE_VERSION: "latest"
#      ports:
#        - 7080:8080
#        - 7090:9090
#        - 7091:9091
#        # Expose turn server
#        #- 3478:3478/udp
#        #- 3478:3478/tcp
#      environment:
#
#        #STREAMER_HOST: "192.168.1.254" 
#
#        # Remote: Turn 
#        SELKIES_TURN_HOST: "bigboy" 
#        SELKIES_TURN_PORT: "3478"
#        SELKIES_TURN_USERNAME: "user"
#        SELKIES_TURN_PASSWORD: "password"
#        
#        # Encoder 
#        #SELKIES_ENCODER: "nvh264enc"
#         
#        #PRIME_RENDERER_GLOBAL: "true" 
#
#      deploy:
#          resources:
#            reservations:
#              devices:
#                - driver: nvidia
#                  count: 1
#                  capabilities: [gpu]
#
## To Make Steam working we need to break isolation
#      tmpfs:
#        - /dev/shm:rw
#      shm_size: 64 
#      ipc: host # Could also be set to 'shareable'
#      ulimits:
#        nofile:
#          soft: 1024
#          hard: 524288
#      cap_add:
#        - NET_ADMIN
#        - SYS_ADMIN
#        - SYS_NICE
#        - IPC_LOCK
#      security_opt:
#        - seccomp:unconfined
#        - apparmor:unconfined     
